body {
  background: url("https://img.freepik.com/free-photo/elegant-modern-kitchen-with-stainless-steel-appliances-generated-by-ai_188544-26862.jpg?t=st=1715468963~exp=1715472563~hmac=3f1d984e6149722d2a01aaa43ad0d9d0e068646bd181f0407b6baeb0a9214b3a&w=826");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: cover;
}

h1 {
  color: orange;
}
